:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    --font-text-big: 32px;
    --font-text-mid: 24px;
    
    --font-weight-big: 700;

    --color-light: rgb(48, 47, 47);


    --breakpoint-media-xl: 1480px;
    --breakpoint-media-l: 1480px;
    --breakpoint-media-m: 900px;
    --breakpoint-media-s: 535px;
    --breakpoint-media-xs: 1480px;



    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *{
    //border: 1px solid black;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
  }
.language{
  padding: 2px;
  border: 1px solid black;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  position: relative;
  cursor:pointer;

  
}
.language:hover{
}
.language--active{

}
.language__inner{
  position: absolute;
border-radius: 100%;
top: 15%;
left: 4px;
width: 14px;
height: 14px;
background-color: rgb(5, 5, 5);
z-index: 4;
transition: .2s;

}
.language__inner--active{
  transform: translateX(16px);
  transition: .2s;
  background-color: rgb(218, 28, 28);


}
.changeLanguage{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  margin-left: auto;


  & > *{
    margin: 5px;
  }
}

  .link-container svg{
    width: 48px;
    height: 48px;
    transition: .2s;
  }
  .link-text{
    margin-top: 4px;
  }
  .svg--linkedin{
    filter: brightness(0) saturate(100%) invert(0%) sepia(27%) saturate(7251%) hue-rotate(19deg) brightness(117%) contrast(90%);
  }
  .link-container:hover svg{
    filter: brightness(0) saturate(100%) invert(70%) sepia(17%) saturate(3443%) hue-rotate(175deg) brightness(90%) contrast(83%);
  }

  .main-container{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 40px 20px;
  }
  .main-container__profile{
    flex: 1 0 30%;
  }
  .main-container__spacer{
    flex: 1 0 0%;

  }
  .main-container__profile > *{

  }

  .main-container__profile__img{
    aspect-ratio: 1/1;
    border-radius: 100%;
  }

  .main-container__profile__name{
    font-weight: var(--font-weight-big);
    font-size: var(--font-text-big);
    display: flex;
    flex-direction: row;
  }
  .main-container__profile__about{
    color: var(--color-light);
    font-size: var(--font-text-mid);
    padding: 20px 0;
  }
  .main-container__profile__position{
    padding: 10px 0;
    font-weight: 500;
    color: var(--color-light);
    font-size: var(--font-text-mid);
  }

  .main-container__profile__mylinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15%;
  }
  .link-container{
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    transition: .4s;
    border-radius: 10px;
    cursor: pointer;
    flex: 0 0 10%;

  }
  .link-container:hover{
    transform: scale(110%);
    background-color: #FBFBFB
  }

  .main-container__bento{
    flex: 1 0 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }
  .bento__element{
    aspect-ratio: 1/1;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 20px;
    position: relative;
    background-repeat: no-repeat; 
    background-position: center;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
    flex: 0 0 28%;
  }
  .bento__element:hover{
    transform: scale(105%);
  }
  .bento__element__tag{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;

  }
  .bento--techstack{
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  .bento--techstack__el{
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    margin-right: 4px;

  }

  .bento__element__link{
    position: absolute;
    right: 10px;
    top: 20px;
    padding-top: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid gray;
  }

  @media screen and (max-width: 1750px){
    .main-container__profile__mylinks{
        justify-content: flex-start;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .link-container{
        flex: 0 0 10%;
        margin-left: 0;

      }
    .bento__element{
      flex: 0 0 28%;
    }
  }

  @media screen and (max-width: 1550px){
    .main-container__profile{
        flex: 1 0 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        & > * {
          flex: 0 0 100%;
        }
        & > .main-container__profile__img{
          flex: 0 0 200px;
          margin-right: 20px;
        }
        & > .wrapper-demo {
          flex: 0 0 75%;
        }
        & > .main-container__profile__position {
          flex: 0 0 40%;
          text-align: end;
        }
        & > .main-container__profile__mylinks {
          flex: 0 0 60%;
        }
      }
      .main-container{
        flex-wrap: wrap;
        padding: 20px 20px;
      }
      .main-container__spacer{
        flex: 0 0 0%;
    
      }
      .main-container__profile__mylinks{
        justify-content: center;
      }
      .link-container{
        flex: 0 0 5%;
      }
      .bento__element{
        flex: 0 0 35%;
      }

      .changeLanguage{
        position: absolute;
        top: 20px;
        right: 20px;
      }
  }

  @media screen and (max-width: 950px){
    .main-container__profile{
      justify-content: center;
      & > .main-container__profile__img{
        order: 1;
      }
      & > .wrapper-demo {
        order: 3;
        flex: 0 0 90%;
      }
      & > .main-container__profile__position {
        order: 2;
        flex: 0 0 60%;
      }
      & > .main-container__profile__mylinks {
        order: 4;
        flex: 0 0 80%;
      }
    }

    .bento__element{
        flex: 0 0 40%;
      }
      .link-container{
        flex: 0 0 10%;
        margin: 5px;
        padding: 10px;
      }
      .main-container__profile__mylinks{

      }
  }
  @media screen and (max-width: 600px){
    .main-container__profile{
      & > .main-container__profile__img{
        flex: 0 0 150px;
      }
      & > .wrapper-demo {
      }
      & > .main-container__profile__position {
        font-size: 1.2rem;
        text-align: left;
      }
      & > .main-container__profile__mylinks {
      }
    }
    .main-container__profile__name{
      font-size: 1.5rem;
    }
    .main-container__profile__about{
      font-size: 1.2rem;
    }
    .bento__element{
        flex: 0 0 80%;
    }
  }

  @media screen and (max-width: 535px){
    .main-container{
        padding: 10px;
    }
      .bento__element{
        background-size: contain;
      }

      .changeLanguage{
        top: 2px;
        right: 2px;
        font-size: 18px;
        & > *{
          margin: 2px;
        }     
       }
       .main-container__profile{
        & > .main-container__profile__img{
          flex: 0 0 100px;
        }
        & > .main-container__profile__mylinks {
          flex: 0 0 95%;
        }
      }
  }

  @media screen and (max-width: 480px){
    .main-container__profile{
      & > .main-container__profile__img{
        margin-right: 5px;
      }
      & > .main-container__profile__position{
        flex: 0 0 55%;
        font-size: 13px;
        text-align: end;
      }
    }
}

  @media screen and (max-width: 400px){
      .link-container{
        margin: 5px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        flex: 0 0 30%;
      }
  }

